USE [Ql_thuvien]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 9/26/2025 9:53:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [nvarchar](10) NOT NULL,
	[TenDocGia] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 9/26/2025 9:53:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTra](
	[MaMuonTra] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [nvarchar](10) NULL,
	[MaSach] [nvarchar](10) NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMuonTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 9/26/2025 9:53:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [nvarchar](10) NOT NULL,
	[TenSach] [nvarchar](100) NULL,
	[TacGia] [nvarchar](100) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/26/2025 9:53:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [DiaChi], [SoDienThoai], [NgaySinh]) VALUES (N'DG001', N'Nguyễn Văn A', N'Hà Nội', N'0123456789', CAST(N'2000-01-01' AS Date))
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [DiaChi], [SoDienThoai], [NgaySinh]) VALUES (N'DG002', N'Trần Thị Bình', N'Hải Phòng', N'0987654321', CAST(N'1999-05-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[MuonTra] ON 

INSERT [dbo].[MuonTra] ([MaMuonTra], [MaDocGia], [MaSach], [NgayMuon], [NgayTra], [TrangThai]) VALUES (2, N'DG001', N'S001', CAST(N'2025-09-01' AS Date), CAST(N'2025-09-15' AS Date), N'Đang mượn')
SET IDENTITY_INSERT [dbo].[MuonTra] OFF
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [TheLoai], [SoLuong]) VALUES (N'S001', N'Lập trình VB.NET', N'Trần Văn B', N'Công nghệ thông tin', 5)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [TheLoai], [SoLuong]) VALUES (N'S002', N'gg', N'dd', N'cc', 100)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [TheLoai], [SoLuong]) VALUES (N'S003', N'Trí tuệ nhân tạo', N'Lê Thị C', N'ác ma', 7)
GO
INSERT [dbo].[Users] ([Username], [Password]) VALUES (N'admin', N'admin')
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
